

.room-container{
    border: solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 10px;
    height: 100vh;
    background-color: lightblue;
    

}

.user{
   width: 200px;
   height: 50px;
   border-radius: 10px;
   border-color: blue;


}

.room{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-color: green;
}
.pss{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-color: firebrick;
}

button{
    border-radius: 10px;
    background-color: green;
}